.Works__background_occupancy_empty {
  position: absolute;
    z-index: -1;
    height: 100%;
    margin-top: 0 !important;
  background: radial-gradient(var(--main-color) 0%, var(--second-color) 70%)
}