.Works__background-image {
  /* max-height: 100%; */
    margin-bottom: 1vmax;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  -webkit-transform: translateY(1000%);
  -ms-transform: translateY(1000%);
  transform: translateY(1000%);
  /* overflow: hidden; */
  cursor: pointer;
}

/* .Works__background-image {
  width: 100%;
  height: max-content;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  -webkit-transform: translateY(1000%);
  -ms-transform: translateY(1000%);
  transform: translateY(1000%);
  overflow: hidden;
  cursor: pointer;
} */
