.Works__background-image {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  -webkit-transform: translateY(1000%);
  -ms-transform: translateY(1000%);
  transform: translateY(1000%);
}
