.Works__background-image {
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  -webkit-transform: translateY(1000%);
  -ms-transform: translateY(1000%);
  transform: translateY(1000%);
  overflow: hidden;
}
