.Description__soft {
  min-width: 16%;
  height: auto;
  margin: 1vmin 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}
