.Resume__work{
  width: 50%;
  height: 60vh;
  cursor: pointer;
}

.Resume__work:hover{
  animation: scroll 10s linear .5s 1;
}

@media (max-width: 768px) {
  .Resume__work{
    height: 100%;
  }
}

@keyframes scroll{
  from {
    background-position-y: top;
  }
  50% {
    background-position-y: bottom;
  }
  to {
    background-position-y: top;
  }
}