.Game__rules-title_gameStarted {
  z-index: 3;
  align-self: flex-end;
}

.Game__rules-title_gameStarted:hover + .Game__rules-text {
  visibility: visible;
}

@media (max-width: 768px) {
  .Game__rules-title_gameStarted {
    align-self: flex-start;
  }
}
