.Work__clue {
  position: absolute;
  width: 50%;
  padding: 1vmin;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  background-color: var(--main-color);
  color: var(--back-color);
  opacity: 0.8;
}
