.Header__input {
  position: relative;
  height: 16px;
  width: 4.5vw;
  padding: 2px;
  margin-top: 3vw;
  border-radius: 1vmax;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

.Header__input::before,
.Header__input::after {
  position: absolute;
  top: -0.1vw;
  content: "";
  width: 2vw;
  height: 2.2vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.Header__input::before {
  background-image: url(../../../../images/moon.svg);
  left: -2.2vw;
}

.Header__input::after {
  right: -2.5vw;
  background-image: url(../../../../images/sun.svg);
}
