.Header__input {
  width: 4vw;
  height: 4vw;
  padding: 0;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

.Header__input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.Header__input::-webkit-color-swatch {
  padding: 0;
  border: none;
  border-radius: 50%;
}

.Header__input::-moz-focus-inner {
  padding: 0;
  border: none;
  border-radius: 50%;
}

.Header__input::-moz-color-swatch {
  padding: 0;
  border: none;
  border-radius: 50%;
}
