.Header__button-image {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}
/*
@media (max-width: 768px) {
  .Header__button-image {
    width: 3vmax;
    height: 3vmax;
  }
} */
