.Stack__container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 14vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: -o-linear-gradient(left, red, yellow, green, blue);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(red),
    color-stop(yellow),
    color-stop(green),
    to(blue)
  );
  background: linear-gradient(to right, red, yellow, green, blue);
}
