.Works__background {
  max-width: 100%;
  max-height: 130%;
  margin-top: 1vmax !important;
  overflow-x: clip;
}/*
.Works__background {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 1vmax !important;
  column-count: 4;
  column-gap: normal;
} */

