.Code {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #302f2f;
}
