.Resume__work-container{
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .Resume__work-container{
    height: 40vh;
  }
}

@media (max-width: 555px) {
  .Resume__work-container{
    height: 50vw;
  }
}