.Game__rules-text{
  visibility: visible;
  min-height: 200px;
  margin-top: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 1em;
  word-wrap: break-word;
}