.Work__description{
  width: 45%;
  height: 60vh;
  margin: 0;
  overflow: auto;
  font-size: 3vw;
  line-height: 3.4vw;
  color: white;
}

@media (max-width: 768px) {
  .Work__description{
    height: 100%;
  }
}