.Code__line {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */
  font-size: var(--fs5);
  line-height: 1.2;
  color: #fff;
}

.Code__line > span {
  white-space: pre;
}

.Code__line-tab {
  font-size: 5vw;
  line-height: .01;
}