.Popup {
  position: fixed;
  left: 0;
  top: -1vw;
  z-index: 3;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0s visibility 0s linear 0.3s;
  -o-transition: opacity 0s visibility 0s linear 0.3s;
  transition: opacity 0s visibility 0s linear 0.3s;
}
