.Stack__filter {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-height: 14vw;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 5%;
  -moz-column-gap: 5%;
  column-gap: 5%;
  -webkit-animation: hide__filters 0.5s ease-out;
  animation: hide__filters 0.5s ease-out;
}

@-webkit-keyframes hide__filters {
  0% {
    position: relative;
    bottom: 0;
  }
  99% {
    position: relative;
    bottom: 14vw;
  }
  100% {
    position: absolute;
    bottom: 0;
  }
}

@keyframes hide__filters {
  0% {
    position: relative;
    bottom: 0;
  }
  99% {
    position: relative;
    bottom: 14vw;
  }
  100% {
    position: absolute;
    bottom: 0;
  }
}
