.Game {
  position: relative;
  height: 60vw;
  padding-top: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 790px) {
  .Game {
    height: 65vw;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .Game {
    height: 100%;
  }
}
