.Work__button {
  width: fit-content;
  margin: 0.5vw auto;
  border: none;
  background-color: black;
  color: #699;
  font-size: 2.5vw;
  font-weight: 900;
  cursor: pointer;
}

.Work__button::before {
  content: "▼  ";
}

.Work__button::after {
  content: "  ▼";
}

.Work__button:active,
.Work__button:focus {
  outline: none;
}
