.RunnerText {
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-left: 1vmin;
  padding: 1vmin 1vmax;
  background-color: var(--second-color);
  color: var(--main-color);
  font-size: var(--fs3);
  text-shadow: -0.5vmin 0.5vmin 0.5vmin var(--back-color);
  -webkit-box-shadow: 1px 1px 1px var(--main-color);
  box-shadow: 1px 1px 1px var(--main-color);
  backdrop-filter: brightness(0.5) blur(3px);
}

.RunnerText_mobile {
  max-width: 70%;
  word-wrap: break-word;
}

.RunnerText_left {
  left: auto;
  right: 0;
  top: auto;
  bottom: -3.5vmax;
  max-width: calc(50vw - 50vmin);
  background: none;
  box-shadow: none;
}

.RunnerText_right {
  right: -120%;
  top: auto;
  bottom: -3.5vmax;
  max-width: calc(50vw - 50vmin);
  background: none;
  box-shadow: none;
}

.RunnerText_reversedFull {
  transform: rotateX(180deg) scale(0.66);
}

.RunnerText_reverse {
  bottom: 100%;
  writing-mode: vertical-rl;
  transform: rotate(270deg) scale(0.66);
}

.RunnerText_reverse__0 {
  padding-right: 10vmin;
}

.RunnerText_reverse__1 {
  padding-right: 20vmin;
}

.RunnerText_reverse__2 {
  padding-bottom: 0;
  bottom: 100%;
  height: 170%;
}

.RunnerText_reverse__3 {
  padding-right: 10vmin;
  bottom: -100%;
}

.RunnerText_reverse__4 {
  padding-right: 5vmin;
  bottom: -100%;
}

.RunnerText_reverse__5 {
  padding-right: 5vmin;
  bottom: -195%;
  height: 180%;
}

.RunnerText_reverse__6 {
  padding-right: 5vmin;
  bottom: -285%;
}

.RunnerText_reverse__7 {
  padding-left: 5vmin;
  bottom: -185%;
  height: 200%;
}

.RunnerText_reverse__8 {
  padding-left: 10vmin;
  bottom: -45%;
  height: 375%;
}

.RunnerText_reverse__9 {
  padding-left: 10vmin;
  bottom: -45%;
  height: 375%;
}

.RunnerText_reverse__10 {
  padding-right: 5vmin;
  bottom: -240%;
}

.RunnerText_reversedWorks {
  transform: rotate(90deg) rotateX(180deg) scale(0.66);
}
