.finger_bigRight_open {
  -webkit-transform: rotate(110deg) translateX(4%) translateY(-21%);
  -ms-transform: rotate(110deg) translateX(4%) translateY(-21%);
  transform: rotate(110deg) translateX(4%) translateY(-21%);
}
