.Game__restart-button_symbol {
  height: 10vh;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 1.2;
  -webkit-animation: flicker 0.3s ease-out 0.4s 1 normal running;
  animation: flicker 0.3s ease-out 0.4s 1 normal running;
}

@media (max-width: 768px) {
  .Game__restart-button_symbol {
    height: 4vw;
  }
}
@keyframes flicker {
  from {
    font-size: 2.5vw;
  }
  to {
    font-size: 3.5vw;
  }
}
