.Description__soft-container {
  position: relative;
  z-index: 0;
  width: calc(80% - 1vw);
  margin-left: 1vw;
  height: max-content;
  padding: 0 10%;
  display: flex;
  overflow: hidden;
  background: var(--second-color);
}
