.Game__rules-text_gameStarted {
  visibility: hidden;
  padding: 55px 0 0 5px;
  padding-bottom: calc(100% - 175px);
  margin: -55px 0 0;
  background-color: black;
}

@media (max-width: 768px) {
  .Game__rules-text_gameStarted {
    visibility: visible;
    padding-bottom: 0;
  }
}
