.Header {
  position: fixed;
  z-index: 5;
  width: calc(100% - 10vmin);
  padding: 1vmin 5vmin;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--back-color);
}

@media (max-width: 768px) {
  .Header {
    width: 90vw;
  }
}
