.Header {
  position: fixed;
  z-index: 5;
  width: calc(100% - 10vw);
  padding: 1vw 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--back-color);
}
