.Sprite {
  --primary: var(--second-color);
  --secondary: var(--main-color);
  cursor: pointer;
}

.Sprite:hover {
  --primary: var(--back-color);
  --secondary: var(--main-color);
  transform: scale(1.5);
}