.Work_project_fifth{
  /* background-image: url('../../../../images/project-5.jpg'); */
  background-size: cover;
  background-position-y: top;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .Work_project_fifth{
    background-size: contain;
  }
}