.Work_project_seventh{
  /* background-image: url('../../../../images/project-7.jpg'); */
  background-size: contain;
  background-position-y: top;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .Work_project_seventh{
    background-size: contain;
  }
}