.Work_project_third{
  /* background-image: url('../../../../images/project-2.jpg'); */
  background-size: cover;
  background-position-y: top;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .Work_project_third{
    background-size: contain;
  }
}