.Header__button {
  height: 2vw;
  padding: 0;
  margin-top: 2vw;
  border: none;
}

@media (max-width: 768px) {
  .Header__button {
    margin-top: 1vw;
  }
}

@media (max-width: 499px) {
  .Header__button {
    height: 1vw;
  }
}
