.Resume__work_projects_third{
  background-image: url('../../../../../images/project-3.jpg');
  background-size: cover;
  background-position-y: top;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .Resume__work_projects_third{
    background-size: contain;
  }
}