.Work {
  width: 100%;
  padding: 1vmin;
  border: 1px dotted var(--main-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Work__title {
  margin: 1vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--fs3);
  line-height: 1.1;
}

.Work__link {
  font-size: var(--fs3);
  line-height: 1.1;
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

.Work__container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.Work__image {
  position: relative;
  width: 50%;
  height: 60vmin;
  cursor: pointer;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.Work__image_horizontal {
  background-size: contain;
}

.Work__description {
  position: relative;
  width: 45%;
  height: 60vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.Work__description-text {
  margin: 0;
  font-size: var(--fs4);
  line-height: 1.1;
  color: var(--main-color);
}

.Work__stack {
  position: absolute;
  bottom: 0;
  height: 3vmax;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.Work__stack-icon {
height: 100%;
width: auto;
margin-right: 1vmin;
object-fit: contain;
}
